* {
  margin: 0;
  padding: 0;

}

.mainTableContainer {
  position: relative;
  left: 5%;
  top: 5%;
  /* transform: translate(-50%,-50%); */
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 70%;
  height: 700px;
  padding: 0 65px;
}

.tableBox {
  /* border: 1px solid yellow; */
  width: 100%;
  height: 600px;
  overflow-y: scroll;
}

table {
  background: none;
  position: relative;
  /* background-color: green; */
  border-collapse: collapse;
  width: 60%;
  max-width: 100%;
  height: 30px;
}



th {
  position: sticky;
  top: 0px;
  margin-bottom: 10px;
  font-weight: 600;
  border: 2px solid blue;
  font-size: 1.2rem;
  color: green;
  opacity: 0.9;
  background: transparent;
  background-color: #272727;
}

.mainTableContainer th:hover {
  /* cursor: pointer; */
  color: #ddd;
  background-color: #272727;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid #333;
}

td {
  text-align: center;
  padding: 8 20px;
  border: 1px solid #333;
}

td:hover {
  background-color: #272727;
}


td a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center !important;
  width: 100%;
}

td a,
td a i {
  background: transparent;
  color: orange;
}

td,
td a:hover,
td a i:hover {
  background: transparent;
  color: white;
}

th a {
  background-color: transparent;
  /* box-shadow: 1px 1px 5px ; */
}




/* !-------------------------------------------Button Container------ */

.btn-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  overflow: scroll;
}

.btn-container div {
  cursor: pointer;
  background-color: #272727;
  text-align: center;
  border-radius: 5px;
  margin: 0 5px;
  padding: 3px 15px 3px 15px;
  color: white;
}

.tableBox table {
  color: green !important;
  width: 100%;
  background: none !important;
}