@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,200;0,8..30,400;0,8..30,900;1,8..30,300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau:wght@200;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: nones;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    scroll-behavior: smooth;
    font-size: 0.9rem;
    color: white;
    background-color: #101010;
}

.form-container {
    width: 100%;
}

form {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    border: 1px solid rgba(255, 255, 0, 0.5);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.form-container input {
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 2rem;
    margin: 0.5rem 0;
    color: yellowgreen;
}

.form-container input::placeholder {
    padding: 10px;
}

.form-btn {
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    background-color: rgba(154, 205, 50, 0.7);

}

.form-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    background-position: 100%;
}

.form-btn:not(:hover) {
    /* background-color: transparent; */
    transition: 1s;
}