.form-container label {
    color: rgba(135, 206, 235, 0.7);
    font-size: 10px;
    padding: 0 0 0 5px;
    margin: 0;
    width: 15%;
    background: transparent;
    position: relative;
    top: 8px;
    left: 6px;
}