@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,200;0,8..30,400;0,8..30,900;1,8..30,300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: nones;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
  font-size: 0.9rem;
  color: white;
  background-color: #101010;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  outline: none;
}

button {
  border: none;
}

.App {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.header {
  position: sticky;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.header ul li {
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-size: 1rem;
}

.header ul li i {
  font-size: 1.3rem;
  padding: 0 5px;
  cursor: pointer;
}

.header ul:nth-child(1) a li {
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: 650;
}

.header ul:nth-child(1) a i {
  font-size: 2rem;
  color: orange;
}

.header ul:nth-child(2) {
  position: relative;
  min-width: 255px;
  width: 100%;
  max-width: 550px;
  padding-top: 5px;
}

.header ul:nth-child(2) div,
.header ul:nth-child(2) i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 65px;
  border-radius: 0 45% 45% 0;
}


.header ul input {
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px 0 0 50px;
  width: 100%;
  padding: 0 15px;
  cursor: pointer;
}

.header ul div {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 40px;
  min-width: 40px;
  border-radius: 0 50px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* !-------SUGGESTION_BOX------- */
.suggestionBox {
  background-color: #212121 !important;
  border-radius: 15px;
  position: absolute;
  left: 42.5%;
  top: 100%;
  transform: translateX(-50%);
  flex-direction: column;
  width: 100% !important;
  max-width: 490px;
  padding: 1.1rem;
  overflow-y: scroll;
  z-index: 9999 !important;
  max-height: 450px;
  border-radius: 0 0 25px 25px;
}


.suggestionBox-hidden {
  display: none !important;
}

.suggestionBox-list {
  width: 100%;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  background-color: transparent;
  cursor: pointer;
  text-align: start;
}

.suggestionBox-list:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header ul:nth-child(3) {
  justify-content: space-around;
  width: 150px;
}

.header ul:nth-child(3) li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.body {
  display: flex;
  width: 100%;
  height: 95.5%;
  overflow-y: scroll;
  overflow: hidden;
  margin-right: 10px;
}

/* !-----sideBAr-------- */

.sideBar {
  position: sticky;
  min-width: 180px;
}

.sideBar div {
  border-radius: 10px;
  margin: 5px 15px;
  padding: 5px 15px;
}

.sideBar ul {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sideBar div a {
  color: white;
  background-color: transparent;
}

.sideBar div:hover,
.sideBar div a:hover,
.sideBar div i:hover {
  cursor: pointer;
  background: #272727;
}

.sideBar div i {
  background-color: transparent;
  font-size: 1.2rem;
  margin: 0 1rem 0 0;
}

.video-container {
  margin: 5px;
  width: 100%;
  /* padding: 10px 25px 0 25px; */
  overflow: scroll;
}

.btn-container {
  display: flex;
  overflow: scroll;
  width: 100%;
  padding: 5px 0;
}

.btn-container div {
  cursor: pointer;
  background-color: #272727;
  text-align: center;
  border-radius: 5px;
  margin: 0 5px;
  padding: 3px 15px 3px 15px;
  color: white;
}

.btn-container div:hover {
  background-color: #595959;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.card-container a {
  flex: auto;
  margin: 0 7px;
  min-width: 270px;
  width: 15%;
  max-width: 500px;
  max-width: 348x;
  min-height: 200px;
  height: 32%;
  max-height: 250px;
  margin-bottom: 2rem;
  background-color: transparent;
  /* aspect-ratio: 3 / 2.5; */
}

.video-card {
  width: 100%;
  height: 100%;
}

/* .video-card div{
     border: 1px solid blue;
     position: relative;
     z-index: 1 !important;
     padding: 5px;
} */

.video-card img {
  width: 100%;
  height: 175px;
  border-radius: 10px;
}

.video-card ul {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  /* align-items: start; */
  gap: 0.5rem;
  overflow: hidden;
}

.video-card ul li h1 {
  overflow: hidden;
  min-height: 20px;
  height: 40px;
  width: 100%;
  max-height: 40px;
  text-overflow: clip;
  text-overflow: ellipsis;
}

.video-card ul li {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.video-card ul li p {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.7);
}

.video-card ul li p:nth-child(3) {
  letter-spacing: 0.05rem;
}


::-webkit-scrollbar {
  width: 0;
  height: 2px;
  /* background-color: red; */
}

/* ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    height: 2%;
    background-color:blue;
    width: 0.1rem;
} */

/* !--------BooksStore------ */

.btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  padding: 10px;
  width: 100px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 1s;
  background-position: 100%;
}

.btn:not(:hover) {
  background-color: transparent;
  transition: 1s;
}

.favourite {
  /* border: 2px solid red; */
  position: absolute;
  z-index: 1;
  padding: 5px;
  top: 1rem;
  right: 1rem;
  background: transparent;
}

.favourite i {
  background: transparent;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.favourite i:hover {
  color: orangered;
}

/* !------------Responsiveness--------- */

@media (width<=610px) {
  a {
    text-decoration: none;
  }

  .header {
    height: 50px;
  }

  .header ul {
    background-color: transparent;
    flex: 1;
    text-align: center;
  }

  .header ul a,
  .header ul:nth-child(2) div {
    display: none;
    padding: 0;
    margin: 0;
  }


  header ul:nth-child(2) input {
    border-radius: 0;
  }

  .header ul:nth-child(2) {
    margin: 0;
    padding: 2px;
  }

  .suggestionBox {
    transform: translateX(-46%);
    max-height: 350px;
  }

  .header ul:nth-child(3) {
    flex: 1.5;
    width: 100%;
    display: block;
  }

  .header ul:nth-child(3) a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 45px;
  }


  .sideBar {
    position: absolute;
    z-index: 1;
    min-width: 180px;
    height: 90vh;
  }

  .video-container {
    margin: 5px;
    width: 100%;
    padding: 0;
  }

  .video-card ul {
    padding: 0 10px;
  }

  .card-container a {
    min-width: 240px;
    width: 15%;
    margin-bottom: 1rem;
  }
}





@media (width<=400px) {
  .card-container a {
    margin: 0;
    margin-bottom: 1rem;
  }
}








/* For landscape devices */
@media (width>600px) and (width < 900px) {
  .header ul:nth-child(2) {
    height: 40px;
  }

  .sideBar {
    position: absolute;
    z-index: 1;
    min-width: 180px;
    height: 90vh;
  }

  .card-container a {
    min-width: 260px;
    width: 15%;
    margin-bottom: 1rem;
  }

  .header ul:nth-child(1) a li {
    display: none;
  }
}

/* ::-webkit-scrollbar {
    width: 0.1rem;
  } */

/* ::-webkit-scrollbar-thumb {
    background-color: transparent;
  } */